html, body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #222;
    color: #fff;
    position: relative;
    overflow-x: hidden; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #111;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    text-align: center;
    position: relative;
    flex: 1;
    padding: 10px;
}


img {
    max-width: 100%;
    height: auto;
}

ol, ul {
    display: inline-block;
    text-align: left;
    padding-left: 20px;
}

#secret { 
    position: absolute;
    right: 10px;
    bottom: 10px;
}

footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.gnome-wrapper {
    position: relative;
    height: 100px;
    width: 100%;
    overflow: visible;
}

#gnome {
    height: 80px;
    position: absolute;
    left: -15px;
    transform: rotate(45deg);
    cursor: pointer;
}

.popup {
    color: black;
    background: white;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 9999;
    padding: 20px;
    transform: translate(-50%, -50%);
    
    font-size: clamp(20px, 5vw, 40px); 
    
    width: 80%;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.show-text {
    display: block;
}

#timer {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}

#snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none;
}

.snowflake {
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    top: -10%;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}