body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    color: #333;
}

header {
    background: #111;
    color: white;
    padding: 10px;
    text-align: center;

}

main {
    padding: 50px;
    text-align: center;
    position: relative;
}

ol, ul {
    list-style-position: inside;
    text-align: center;
}



#secret { 
    position:absolute;
    right: 0;
    bottom: 0;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;


}

.dark-theme {
    background: #222;
    color: #eee;
}

.dark-theme header{
    background: #111;
}

.dark-theme footer{
    background: #000;
}

.popup {
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 9999;
    padding: 15px 20px;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

.show-text {
    display: block;
}